<dialog #dialog>
  <form
    [formGroup]="form"
    (ngSubmit)="onConfirmPassword(form.value)"
    method="dialog"
  >
    <div class="input-group mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="Enter Password"
        aria-label="password"
        id="password"
        formControlName="password"
        autofocus
      />
    </div>
    <div id="delete-modal-btns">
      <button type="button" class="btn btn-secondary" (click)="closeDialog()">
        Cancel
      </button>
      <button
        *ngIf="purpose === 'delete'"
        type="submit"
        class="btn btn-danger"
        [disabled]="!form.valid"
      >
        Delete
      </button>
      <button
        *ngIf="purpose === 'change'"
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid"
      >
        Change
      </button>
    </div>
  </form>
</dialog>

<dialog #errorDialog>
  <h1>Incorrect Password</h1>
</dialog>
