:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 2rem;
  width: 25rem;
}

#change-btn {
  text-decoration: none;
  user-select: none;
}

#change-btn:hover {
  cursor: pointer;
  color: #a83832;
}
