<div class="card">
  <img
    *ngIf="imageIncluded"
    [src]="report.picture | lowercase"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h4 class="card-title">{{ report.criminalName }}</h4>
    <p class="card-text" *ngIf="extraInfoIncluded">
      {{ report.extraInfo }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>Reported at:</b> {{ report.time | date : "MMM d, y - HH:mm" }}
    </li>
    <li class="list-group-item"><b>Location:</b> {{ cityName }}</li>
    <li class="list-group-item">
      <b>Status:</b> {{ report.status | uppercase }}
      <a class="card-link" (click)="changeStatus()" id="change-btn">
        (CHANGE)</a
      >
    </li>
    <li class="list-group-item">
      <b>Reported By:</b> {{ report.reporterName }} -
      {{ report.reporterNum | phoneFormat }}
    </li>
  </ul>
  <a routerLink="/home" class="btn btn-primary">Go Back</a>
</div>

<app-confirm-password [rKey]="rKey" purpose="change"></app-confirm-password>
