<!-- <div class="table-responsive"> -->
<table class="table table-striped table-light table-bordered" id="fixed-thead">
  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Criminal Name</th>
      <th scope="col">Time of Report</th>
      <th scope="col">Status</th>
      <th scope="col">More Info</th>
      <th scope="col">Remove Report</th>
    </tr>
  </thead>
</table>
<table
  class="table table-striped table-light table-bordered"
  id="scrollable-tbody"
>
  <tbody class="scrollable-tbody">
    <!-- <tr>
      <td>City Name</td>
      <td>Joni D</td>
      <td>2023-11-01 (13:30)</td>
      <td>RESOLVED</td>
      <td><a routerLink="/report/:key">MORE INFO ICON</a></td>
      <td><a routerLink="/report/delete">DELETE ICON</a></td>
    </tr> -->
  </tbody>
</table>
<!-- </div> -->
